---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  description: string;
  pubDate: Date;
}

const { title, description, pubDate } = Astro.props as Props;

const formatDate = (date: Date) => {
  return date.toISOString().split('T')[0];
};
---

<BaseLayout title={`${title} — Spandan`} description={description}>
  <div class="container">
    <article class="post-layout">
      <header class="post-header">
        <div class="post-meta">{formatDate(pubDate)}</div>
        <h1>{title}</h1>
        <p class="description">{description}</p>
      </header>
      <section class="prose">
        <slot />
      </section>
    </article>
  </div>
</BaseLayout>
